/* CSS Reset courtesy of https://www.joshwcomeau.com/css/custom-css-reset/ */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	/* 4. Add accessible line-height */
	line-height: 1.5;
	/* 5. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
	font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
	text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* Original CSS */
body {
	background-color: #1b291f;
	color: #e0dad5;
	font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	padding: 12px;
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 36px;
}

label {
	font-size: 14px;
	letter-spacing: 1px;
}

input[type="text"] {
	border-radius: 8px;
}

button {
	height: 40px;
	background-color: #f25b1f;
	border: transparent;
	border-radius: 8px;
	font-weight: bold;
}

button:hover {
	cursor: pointer;
}

.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	gap: 32px;
}

.board {
	display: grid;
	grid-template: repeat(3, 150px) / repeat(3, 150px);
	justify-items: center;
	align-items: center;
	gap: 12px;
	background-color: #80410e;
	padding: 12px;
	box-shadow: 0 150px #452003;
}

.input-group {
	display: flex;
	flex-direction: column;
	width: 200px;
}

.tile {
	width: 100px;
	height: 100px;
	font-size: 64px;
	background-color: #612d13;
	text-align: center;
	border-radius: 10px;
}

.tile:hover:not(.disabled) {
	cursor: pointer;
	background-color: #451f0c;
}

.tile:hover.disabled {
	cursor: not-allowed;
}

.result-text {
	font-size: 48px;
	color: red;
}

.result-text span {
	color: yellow;
	font-weight: bold;
}

.invisible {
	display: none;
}